<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Smart Plate Number Recognition System
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <img [src]="photo">
  <ion-fab vertical="center" horizontal="left" slot="fixed" style="padding: 20px;">
  <p>Plate Number:</p>
  <h1 style="color: green; font-size: 50px">{{textImage}}</h1>
  </ion-fab>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="takePicture()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  
  
  </ion-fab>
</ion-content>
